/* Global Styles Here */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.center_screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.debug_info_test {
    color: white;
}

.blue {
    color: blue;
}
.green {
    color: green;
}