/* Global Styles Here */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Exception display box format */
.exception_div {
    border: 2px solid red;
    border-radius: 25px;
    width: 90%;
    background-color: white;
}

.exception_section {
    font-family: Arial, Helvetica, sans-serif;
}
